.latestPost{
    /* order: 1px solid red; */
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    align-items: flex-start;
}
.latestPost img{
    width: 30%;
    border-radius: 10px;
}
.latestPost p{
    font-size: 10px;
    color: gray;
}
.latestPost > div > p:last-child{
    font-weight: 700;
    color: black;
    font-size: 14px;
}